HELP.md
#Lib10/target/
!Lib10/.mvn/wrapper/maven-wrapper.jar
**/**/target/
**/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries/

#.idea
#.idea/artifacts
#.idea/compiler.xml
#.idea/jarRepositories.xml
#.idea/modules.xml
#.idea/*.iml
#.idea/modules
#*.iml
#*.ipr
*.iws

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/